@font-face {
    src:url("/font/montserrat/Montserrat-Medium.ttf");
}

@font-face {
    src:url("/font/inter/Inter-SemiBold.ttf");
}

@font-face {
    src:url("/font/inter/Inter-Medium.ttf");
}

.appname {
    -fx-font-family: 'Montserrat Medium';
    -fx-font-size: 19;
}

.text-semibold{
    -fx-font-family: 'Inter SemiBold';
}

.text-medium{
    -fx-font-family: 'Inter Medium';
}

.system-appname{
    -fx-font-family: 'Montserrat Medium';
    -fx-font-size: 16.87;
}

.main-container{
    -fx-background-color:  #FDFDFD;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.util-button:hover{
    -fx-background-color: #CBDFC8 !important;
}

.menu-button:hover{
    -fx-background-color: white !important;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1),10.0 ,0.5, 1.0, 1.0);
}

.pane-button:hover{
    -fx-background-color: #ecf1ec !important;
}
.top-menu-button:hover{
    -fx-background-color: #e8e8e8 !important;
}

.scroll-pane-transparent .viewport {
    -fx-background-color: transparent !important ;
}

