.scrollpane .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.scrollpane .scroll-bar:vertical .thumb{
    -fx-background-color: #8CABA2;
}

.scrollpane .viewport{
    -fx-background-color: transparent;
}